In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd

In [24]:
# 评分
rnames = ['user_id','movie_id','rating','timestamp']
rpath = 'ratings.csv'
ratings = pd.read_csv(filepath_or_buffer=rpath,sep=',',header=0,names=rnames,engine='python')
ratings.head()

   user_id  movie_id  rating   timestamp
0        1        31     2.5  1260759144
1        1      1029     3.0  1260759179
2        1      1061     3.0  1260759182
3        1      1129     2.0  1260759185
4        1      1172     4.0  1260759205

In [25]:
# 电影信息
mnames = ['movie_id','title','genres']
mpath = 'movies.csv'
movies = pd.read_csv(filepath_or_buffer=mpath,sep=',',header=0,names=mnames,engine='python')
movies.head()

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [27]:
# 链接信息
lnames = ['movie_id','imdbId','tmdbId']
lpath = 'links.csv'
links = pd.read_csv(filepath_or_buffer=lpath,sep=',',header=0,names=lnames,engine='python')
links.head()

   movie_id  imdbId   tmdbId
0         1  114709    862.0
1         2  113497   8844.0
2         3  113228  15602.0
3         4  114885  31357.0
4         5  113041  11862.0

In [43]:
# 标签信息
tnames = ['user_id','movie_id','tag','timestamp']
tpath = 'tags.csv'
tags = pd.read_csv(filepath_or_buffer=tpath,sep=',',header=0,names=tnames,engine='python')
tags.head()

   user_id  movie_id                      tag   timestamp
0       15       339  sandra 'boring' bullock  1138537770
1       15      1955                  dentist  1193435061
2       15      7478                 Cambodia  1170560997
3       15     32892                  Russian  1170626366
4       15     34162              forgettable  1141391765

In [36]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
user_id      100004 non-null int64
movie_id     100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [37]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movie_id    9125 non-null int64
title       9125 non-null object
genres      9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [38]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movie_id    9125 non-null int64
imdbId      9125 non-null int64
tmdbId      9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 213.9 KB

In [44]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 4 columns):
user_id      1296 non-null int64
movie_id     1296 non-null int64
tag          1296 non-null object
timestamp    1296 non-null int64
dtypes: int64(3), object(1)
memory usage: 40.6+ KB

In [39]:
ratings.describe()

             user_id       movie_id         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

In [40]:
movies.describe()

            movie_id
count    9125.000000
mean    31123.291836
std     40782.633604
min         1.000000
25%      2850.000000
50%      6290.000000
75%     56274.000000
max    164979.000000

In [41]:
links.describe()

            movie_id        imdbId         tmdbId
count    9125.000000  9.125000e+03    9112.000000
mean    31123.291836  4.798244e+05   39104.545544
std     40782.633604  7.431774e+05   62814.519801
min         1.000000  4.170000e+02       2.000000
25%      2850.000000  8.884600e+04    9451.750000
50%      6290.000000  1.197780e+05   15852.000000
75%     56274.000000  4.284410e+05   39160.500000
max    164979.000000  5.794766e+06  416437.000000

In [72]:
tags.describe()

           user_id       movie_id     timestamp
count  1296.000000    1296.000000  1.296000e+03
mean    417.026235   42278.949846  1.324337e+09
std     142.183440   44628.345568  1.093886e+08
min      15.000000       1.000000  1.137217e+09
25%     346.000000    2988.000000  1.243455e+09
50%     431.000000   26958.500000  1.342849e+09
75%     547.000000   72268.250000  1.440380e+09
max     663.000000  164979.000000  1.476651e+09

In [76]:
len(set(tags['user_id'].values.tolist()))

61

In [77]:
len(set(tags['movie_id']))

689

In [45]:
# 合并数据集
data = pd.merge(ratings,movies,on='movie_id')

In [46]:
data.head()

   user_id  movie_id  rating   timestamp                   title genres
0        1        31     2.5  1260759144  Dangerous Minds (1995)  Drama
1        7        31     3.0   851868750  Dangerous Minds (1995)  Drama
2       31        31     4.0  1273541953  Dangerous Minds (1995)  Drama
3       32        31     4.0   834828440  Dangerous Minds (1995)  Drama
4       36        31     3.0   847057202  Dangerous Minds (1995)  Drama

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100004 entries, 0 to 100003
Data columns (total 6 columns):
user_id      100004 non-null int64
movie_id     100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
title        100004 non-null object
genres       100004 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.3+ MB

In [52]:
data.describe()

             user_id       movie_id         rating     timestamp
count  100004.000000  100004.000000  100004.000000  1.000040e+05
mean      347.011310   12548.664363       3.543608  1.129639e+09
std       195.163838   26369.198969       1.058064  1.916858e+08
min         1.000000       1.000000       0.500000  7.896520e+08
25%       182.000000    1028.000000       3.000000  9.658478e+08
50%       367.000000    2406.500000       4.000000  1.110422e+09
75%       520.000000    5418.000000       4.000000  1.296192e+09
max       671.000000  163949.000000       5.000000  1.476641e+09

In [63]:
# 汇总每部电影的评分数量
rating_count_by_movie = data.groupby(['movie_id','title'],as_index=False)['rating'].count()
rating_count_by_movie

      movie_id                                              title  rating
0            1                                   Toy Story (1995)     247
1            2                                     Jumanji (1995)     107
2            3                            Grumpier Old Men (1995)      59
3            4                           Waiting to Exhale (1995)      13
4            5                 Father of the Bride Part II (1995)      56
5            6                                        Heat (1995)     104
6            7                                     Sabrina (1995)      53
7            8                                Tom and Huck (1995)       5
8            9                                Sudden Death (1995)      20
9           10                                   GoldenEye (1995)     122
10          11                     American President, The (1995)      82
11          12                 Dracula: Dead and Loving It (1995)      18
12          13                                       Balto (1995)       8
13          14                                       Nixon (1995)      31
14          15                            Cutthroat Island (1995)      11
15          16                                      Casino (1995)      88
16          17                       Sense and Sensibility (1995)      86
17          18                                  Four Rooms (1995)      26
18          19              Ace Ventura: When Nature Calls (1995)      92
19          20                                 Money Train (1995)      13
20          21                                  Get Shorty (1995)      95
21          22                                     Copycat (1995)      38
22          23                                   Assassins (1995)      22
23          24                                      Powder (1995)      34
24          25                           Leaving Las Vegas (1995)     101
25          26                                     Othello (1995)       5
26          27                                Now and Then (1995)       7
27          28                                  Persuasion (1995)      18
28          29  City of Lost Children, The (Cit茅 des enfants p...      40
29          30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...      10
...        ...                                                ...     ...
9036    158238                               The Nice Guys (2016)       2
9037    158314             Daniel Tosh: Completely Serious (2007)       1
9038    158528                                The Shallows (2016)       1
9039    158956                                Kill Command (2016)       1
9040    159093                            Now You See Me 2 (2016)       2
9041    159462                              The Video Dead (1987)       1
9042    159690  Teenage Mutant Ninja Turtles: Out of the Shado...       1
9043    159755          Popstar: Never Stop Never Stopping (2016)       1
9044    159858                             The Conjuring 2 (2016)       2
9045    159972                     Approaching the Unknown (2016)       1
9046    160080                                Ghostbusters (2016)       1
9047    160271                        Central Intelligence (2016)       1
9048    160438                                Jason Bourne (2016)       2
9049    160440                             The Maid's Room (2014)       1
9050    160563                        The Legend of Tarzan (2016)       2
9051    160565                    The Purge: Election Year (2016)       1
9052    160567              Mike & Dave Need Wedding Dates (2016)       1
9053    160590                         Survive and Advance (2013)       1
9054    160656                                    Tallulah (2016)       1
9055    160718                                       Piper (2016)       1
9056    161084                       My Friend Rockefeller (2015)       1
9057    161155                                   Sunspring (2016)       1
9058    161594               Kingsglaive: Final Fantasy XV (2016)       1
9059    161830                                        Body (2015)       1
9060    161918                Sharknado 4: The 4th Awakens (2016)       1
9061    161944              The Last Brickmaker in America (2001)       1
9062    162376                                    Stranger Things       1
9063    162542                                      Rustom (2016)       1
9064    162672                                Mohenjo Daro (2016)       1
9065    163949  The Beatles: Eight Days a Week - The Touring Y...       1

[9066 rows x 3 columns]

In [65]:
rating_count_by_movie.columns = ['movie_id','title','rating_count']
rating_count_by_movie

,movie_id,title,rating_count
0,1,Toy Story (1995),247
1,2,Jumanji (1995),107
2,3,Grumpier Old Men (1995),59
3,4,Waiting to Exhale (1995),13
4,5,Father of the Bride Part II (1995),56
5,6,Heat (1995),104
6,7,Sabrina (1995),53
7,8,Tom and Huck (1995),5
8,9,Sudden Death (1995),20
9,10,GoldenEye (1995),122
10,11,"American President, The (1995)",82
11,12,Dracula: Dead and Loving It (1995),18
12,13,Balto (1995),8
13,14,Nixon (1995),31
14,15,Cutthroat Island (1995),11
15,16,Casino (1995),88
16,17,Sense and Sensibility (1995),86
17,18,Four Rooms (1995),26
18,19,Ace Ventura: When Nature Calls (1995),92
19,20,Money Train (1995),13
20,21,Get Shorty (1995),95
21,22,Copycat (1995),38
22,23,Assassins (1995),22
23,24,Powder (1995),34
24,25,Leaving Las Vegas (1995),101
25,26,Othello (1995),5
26,27,Now and Then (1995),7
27,28,Persuasion (1995),18
28,29,"City of Lost Children, The (Cit茅 des enfants p...",40
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,10
...,...,...,...
9036,158238,The Nice Guys (2016),2
9037,158314,Daniel Tosh: Completely Serious (2007),1
9038,158528,The Shallows (2016),1
9039,158956,Kill Command (2016),1
9040,159093,Now You See Me 2 (2016),2
9041,159462,The Video Dead (1987),1
9042,159690,Teenage Mutant Ninja Turtles: Out of the Shado...,1
9043,159755,Popstar: Never Stop Never Stopping (2016),1
9044,159858,The Conjuring 2 (2016),2
9045,159972,Approaching the Unknown (2016),1
9046,160080,Ghostbusters (2016),1
9047,160271,Central Intelligence (2016),1
9048,160438,Jason Bourne (2016),2
9049,160440,The Maid's Room (2014),1
9050,160563,The Legend of Tarzan (2016),2
9051,160565,The Purge: Election Year (2016),1
9052,160567,Mike & Dave Need Wedding Dates (2016),1
9053,160590,Survive and Advance (2013),1
9054,160656,Tallulah (2016),1
9055,160718,Piper (2016),1
9056,161084,My Friend Rockefeller (2015),1
9057,161155,Sunspring (2016),1
9058,161594,Kingsglaive: Final Fantasy XV (2016),1
9059,161830,Body (2015),1
9060,161918,Sharknado 4: The 4th Awakens (2016),1
9061,161944,The Last Brickmaker in America (2001),1
9062,162376,Stranger Things,1
9063,162542,Rustom (2016),1
9064,162672,Mohenjo Daro (2016),1
9065,163949,The Beatles: Eight Days a Week - The Touring Y...,1

In [68]:
rating_count_by_movie.sort_values(by=['rating_count'],ascending=False,inplace=True)
rating_count_by_movie

,movie_id,title,rating_count
321,356,Forrest Gump (1994),341
266,296,Pulp Fiction (1994),324
284,318,"Shawshank Redemption, The (1994)",311
525,593,"Silence of the Lambs, The (1991)",304
232,260,Star Wars: Episode IV - A New Hope (1977),291
427,480,Jurassic Park (1993),274
2062,2571,"Matrix, The (1999)",259
0,1,Toy Story (1995),247
472,527,Schindler's List (1993),244
522,589,Terminator 2: Judgment Day (1991),237
953,1196,Star Wars: Episode V - The Empire Strikes Back...,234
100,110,Braveheart (1995),228
1024,1270,Back to the Future (1985),226
535,608,Fargo (1996),224
2288,2858,American Beauty (1999),220
955,1198,Raiders of the Lost Ark (Indiana Jones and the...,220
644,780,Independence Day (a.k.a. ID4) (1996),218
966,1210,Star Wars: Episode VI - Return of the Jedi (1983),217
521,588,Aladdin (1992),215
406,457,"Fugitive, The (1993)",213
523,590,Dances with Wolves (1990),202
2374,2959,Fight Club (1999),202
45,47,Seven (a.k.a. Se7en) (1995),201
48,50,"Usual Suspects, The (1995)",201
328,364,"Lion King, The (1994)",200
695,858,"Godfather, The (1972)",200
129,150,Apollo 13 (1995),200
3869,4993,"Lord of the Rings: The Fellowship of the Ring,...",200
344,380,True Lies (1994),198
524,592,Batman (1989),196
...,...,...,...
8463,107945,Bad Karma (2012),1
8462,107910,I Know That Voice (2013),1
8460,107769,Paranormal Activity: The Marked Ones (2014),1
846,1044,Surviving Picasso (1996),1
852,1053,Normal Life (1996),1
7808,87785,Takers (2010),1
7812,87930,Page One: Inside the New York Times (2011),1
7811,87884,Savage Messiah (1972),1
1064,1317,I'm Not Rappaport (1996),1
7868,89761,"Dangerous Method, A (2011)",1
7615,80860,Life as We Know It (2010),1
217,245,The Glass Shield (1994),1
8662,115534,Ouija (2014),1
7619,80917,Monsters (2010),1
8661,115502,"Rewrite, The (2014)",1
7621,81018,"Illusionist, The (L'illusionniste) (2010)",1
7622,81054,Love Is Colder Than Death (Liebe ist k盲lter al...,1
8657,115174,Love Is Strange (2014),1
7632,81516,Black Death (2010),1
8655,115151,Plastic (2014),1
7624,81132,Rubber (2010),1
7625,81138,7 Days (Les 7 jours du talion) (2010),1
8653,115147,The Best of Me (2014),1
235,263,Ladybird Ladybird (1994),1
7628,81191,Waiting for 'Superman' (2010),1
1163,1433,The Machine (1994),1
7630,81417,Paranormal Activity 2 (2010),1
8558,111624,Kelly & Cal (2014),1
308,343,"Baby-Sitters Club, The (1995)",1
9065,163949,The Beatles: Eight Days a Week - The Touring Y...,1

In [69]:
rating_count_by_movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9066 entries, 321 to 9065
Data columns (total 3 columns):
movie_id        9066 non-null int64
title           9066 non-null object
rating_count    9066 non-null int64
dtypes: int64(2), object(1)
memory usage: 283.3+ KB

In [70]:
# 得到打分的平均值及方差
rating_stddev = data.groupby(['movie_id','title']).agg({'rating':['mean','std']})
rating_stddev

                                                               rating  \
                                                                 mean
movie_id title
1        Toy Story (1995)                                    3.872470
2        Jumanji (1995)                                      3.401869
3        Grumpier Old Men (1995)                             3.161017
4        Waiting to Exhale (1995)                            2.384615
5        Father of the Bride Part II (1995)                  3.267857
6        Heat (1995)                                         3.884615
7        Sabrina (1995)                                      3.283019
8        Tom and Huck (1995)                                 3.800000
9        Sudden Death (1995)                                 3.150000
10       GoldenEye (1995)                                    3.450820
11       American President, The (1995)                      3.689024
12       Dracula: Dead and Loving It (1995)                  2.861111
13       Balto (1995)                                        3.937500
14       Nixon (1995)                                        3.451613
15       Cutthroat Island (1995)                             2.318182
16       Casino (1995)                                       3.948864
17       Sense and Sensibility (1995)                        3.924419
18       Four Rooms (1995)                                   3.288462
19       Ace Ventura: When Nature Calls (1995)               2.597826
20       Money Train (1995)                                  2.538462
21       Get Shorty (1995)                                   3.536842
22       Copycat (1995)                                      3.355263
23       Assassins (1995)                                    3.090909
24       Powder (1995)                                       3.044118
25       Leaving Las Vegas (1995)                            3.742574
26       Othello (1995)                                      4.100000
27       Now and Then (1995)                                 3.142857
28       Persuasion (1995)                                   4.083333
29       City of Lost Children, The (Cit茅 des enfants pe...  4.025000
30       Shanghai Triad (Yao a yao yao dao waipo qiao) (...  4.050000
...                                                               ...
158238   The Nice Guys (2016)                                3.750000
158314   Daniel Tosh: Completely Serious (2007)              4.500000
158528   The Shallows (2016)                                 3.500000
158956   Kill Command (2016)                                 4.000000
159093   Now You See Me 2 (2016)                             2.000000
159462   The Video Dead (1987)                               3.000000
159690   Teenage Mutant Ninja Turtles: Out of the Shadow...  2.000000
159755   Popstar: Never Stop Never Stopping (2016)           1.000000
159858   The Conjuring 2 (2016)                              3.750000
159972   Approaching the Unknown (2016)                      0.500000
160080   Ghostbusters (2016)                                 1.000000
160271   Central Intelligence (2016)                         2.500000
160438   Jason Bourne (2016)                                 4.250000
160440   The Maid's Room (2014)                              1.500000
160563   The Legend of Tarzan (2016)                         2.500000
160565   The Purge: Election Year (2016)                     2.000000
160567   Mike & Dave Need Wedding Dates (2016)               4.000000
160590   Survive and Advance (2013)                          5.000000
160656   Tallulah (2016)                                     3.500000
160718   Piper (2016)                                        4.000000
161084   My Friend Rockefeller (2015)                        2.500000
161155   Sunspring (2016)                                    0.500000
161594   Kingsglaive: Final Fantasy XV (2016)                3.000000
161830   Body (2015)                                         1.000000
161918   Sharknado 4: The 4th Awakens (2016)                 1.500000
161944   The Last Brickmaker in America (2001)               5.000000
162376   Stranger Things                                     4.500000
162542   Rustom (2016)                                       5.000000
162672   Mohenjo Daro (2016)                                 3.000000
163949   The Beatles: Eight Days a Week - The Touring Ye...  5.000000


                                                                  std
movie_id title
1        Toy Story (1995)                                    0.958981
2        Jumanji (1995)                                      0.880714
3        Grumpier Old Men (1995)                             1.150115
4        Waiting to Exhale (1995)                            0.938835
5        Father of the Bride Part II (1995)                  0.948512
6        Heat (1995)                                         0.830928
7        Sabrina (1995)                                      1.102922
8        Tom and Huck (1995)                                 1.643168
9        Sudden Death (1995)                                 0.812728
10       GoldenEye (1995)                                    0.769807
11       American President, The (1995)                      0.894566
12       Dracula: Dead and Loving It (1995)                  1.108862
13       Balto (1995)                                        0.979705
14       Nixon (1995)                                        0.778405
15       Cutthroat Island (1995)                             0.902018
16       Casino (1995)                                       0.877692
17       Sense and Sensibility (1995)                        0.928368
18       Four Rooms (1995)                                   1.184678
19       Ace Ventura: When Nature Calls (1995)               1.079884
20       Money Train (1995)                                  1.265924
21       Get Shorty (1995)                                   1.011219
22       Copycat (1995)                                      0.964981
23       Assassins (1995)                                    0.946628
24       Powder (1995)                                       1.143941
25       Leaving Las Vegas (1995)                            1.080773
26       Othello (1995)                                      0.894427
27       Now and Then (1995)                                 0.690066
28       Persuasion (1995)                                   0.808957
29       City of Lost Children, The (Cit茅 des enfants pe...  0.808211
30       Shanghai Triad (Yao a yao yao dao waipo qiao) (...  0.955975
...                                                               ...
158238   The Nice Guys (2016)                                0.353553
158314   Daniel Tosh: Completely Serious (2007)                   NaN
158528   The Shallows (2016)                                      NaN
158956   Kill Command (2016)                                      NaN
159093   Now You See Me 2 (2016)                             1.414214
159462   The Video Dead (1987)                                    NaN
159690   Teenage Mutant Ninja Turtles: Out of the Shadow...       NaN
159755   Popstar: Never Stop Never Stopping (2016)                NaN
159858   The Conjuring 2 (2016)                              0.353553
159972   Approaching the Unknown (2016)                           NaN
160080   Ghostbusters (2016)                                      NaN
160271   Central Intelligence (2016)                              NaN
160438   Jason Bourne (2016)                                 0.353553
160440   The Maid's Room (2014)                                   NaN
160563   The Legend of Tarzan (2016)                         2.121320
160565   The Purge: Election Year (2016)                          NaN
160567   Mike & Dave Need Wedding Dates (2016)                    NaN
160590   Survive and Advance (2013)                               NaN
160656   Tallulah (2016)                                          NaN
160718   Piper (2016)                                             NaN
161084   My Friend Rockefeller (2015)                             NaN
161155   Sunspring (2016)                                         NaN
161594   Kingsglaive: Final Fantasy XV (2016)                     NaN
161830   Body (2015)                                              NaN
161918   Sharknado 4: The 4th Awakens (2016)                      NaN
161944   The Last Brickmaker in America (2001)                    NaN
162376   Stranger Things                                          NaN
162542   Rustom (2016)                                            NaN
162672   Mohenjo Daro (2016)                                      NaN
163949   The Beatles: Eight Days a Week - The Touring Ye...       NaN

[9066 rows x 2 columns]